<div class="table-responsive container bg-light my-5">
    <h2 class="text-center text-black text-uppercase pt-2">Productos</h2>
    <hr>
    <table class="table table-bordered border-dark-subtle">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Código</th>
                <th>Categoría</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each allProducts}}
                <tr>
                    <td class="text-start">{{this.title}}</td>
                    <td class="text-start">{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.stock}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>